############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store

###########
## Node
###########
node_modules/

saveData/*
public/stylesheets/*.css